li {
  float: left;
  margin-left: 10px;
}



.ADE {
  background: rgb(0, 34, 68);
  background: linear-gradient(90deg, rgba(0, 34, 68, 1) 20%, rgba(198, 12, 48, 1) 60%, rgba(254, 203, 0, 1) 90%);
}

.BRI {
  background: rgb(0, 35, 149);
  background: linear-gradient(90deg, rgba(0, 35, 149, 1) 10%, rgba(255, 191, 63, 1) 50%, rgba(136, 35, 69, 1) 90%);
}

.BUL {
  background: rgb(198, 12, 48);
  background: linear-gradient(90deg, rgba(198, 12, 48, 1) 0%, rgba(255, 255, 255, 1) 33%, rgba(0, 57, 166, 1) 66%);
}

.CBL {
  background: rgb(3, 30, 47);
  background: linear-gradient(90deg, rgba(3, 30, 47, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(3, 30, 47, 1) 75%);
}

.COL {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 75%);
}

.ESS {
  background: rgb(0, 0, 0);
  background: linear-gradient(150deg, rgba(0, 0, 0, 1) 15%, rgba(213, 43, 30, 1) 40%, rgba(0, 0, 0, 1) 65%);
}

.FRE {
  background: rgb(38, 13, 84);
  background: linear-gradient(90deg, rgba(38, 13, 84, 1) 0%, rgba(165, 172, 175, 1) 80%, rgba(255, 255, 255, 1) 100%);
}

.GEE {
  background: rgb(0, 34, 68);
  background: linear-gradient(180deg, rgba(0, 34, 68, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(0, 34, 68, 1) 75%);
}

.GCS {
  background: rgb(230, 13, 46);
  background: linear-gradient(90deg, rgba(230, 13, 46, 1) 0%, rgba(250, 220, 65, 1) 50%, rgba(230, 13, 46, 1) 100%);
}


.GWS {
  background: rgb(255, 88, 0);
  background: linear-gradient(150deg, rgba(255, 88, 0, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(64, 59, 51, 1) 60%);
}

.HAW {
  background: rgb(240, 171, 0);
  background: linear-gradient(90deg, rgba(240, 171, 0, 1) 0%, rgba(77, 38, 18, 1) 50%, rgba(240, 171, 0, 1) 100%);
}

.NMK {
  background: rgb(0, 35, 149);
  background: linear-gradient(90deg, rgba(0, 35, 149, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.MEL {
  background: rgb(3, 30, 47);
  background: linear-gradient(90deg, rgba(3, 30, 47, 1) 25%, rgba(167, 25, 48, 1) 50%, rgba(3, 30, 47, 1) 75%);
}

.PAP {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 154, 166, 1) 35%, rgba(255, 255, 255, 1) 100%);
}

.RIC {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(254, 203, 0, 1) 65%, rgba(255, 255, 255, 1) 100%);
}

.SKS {
  background: rgb(230, 13, 46);
  background: linear-gradient(90deg, rgba(230, 13, 46, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.SYD {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(198, 12, 48, 1) 60%);
}

.WCE {
  background: rgb(0, 34, 68);
  background: linear-gradient(90deg, rgba(0, 34, 68, 1) 25%, rgba(253, 200, 47, 1) 50%, rgba(189, 56, 38, 1) 75%);
}
/* TEAM LADDER CSS*/

.ladder tr {
  height: 25px;
}
.ladder tr td, .ladder tr th {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}
.ladder tr th {
  text-align: center;
}

.standings tr td img{
  height: auto;
  max-height: 25px;
  max-width: 30px;
  text-align: center;
  margin: auto;
}


.ladder tr td:nth-child(1),
.ladder tr td:nth-child(3),
.ladder tr th:nth-child(1),
.ladder tr th:nth-child(3)
 {
   text-align: left;
 }


 table.collapse td, table.collapse th {
   display: none;
 }

 table.collapse td:nth-child(2),
 table.collapse th:nth-child(2) {
   display: table-cell;
 }


 .standings span {
   display: none;
 }

 .collapse span {
  display: block;
}
/* MATCH INFO CSS*/
.match-info {
  display: none;
}

.period {
  display: none;
}

.match-info .row {
  /* height: 500px; for testing purposes */
}

.match-info .row .col {
  /* height: 500px; for testing purposes */
  border: 1px solid black;
  /* for testing purposes */
  position: relative;
}

.match-info .row .col .row {
  height: auto;
}

.match-info .row .col .row .col {
  height: auto;
  border: none;
}

.match-info .timeline .timeline-splitter {
  height: 100%;
  background: #333;
  width: 6px;
  left: calc(50% - 3px);
  top: 70px;
  position: absolute;
  border: 0;


}

.match-info .timeline {
  height: 100%;
}

.match-info .timeline .period-events {
  position: relative;
}

.match-info .timeline .timeline-event {
  margin-top: 10px;
  position: relative;
  height: 20px;
  width: 100%;

}

.match-info .timeline .timeline-event.major-event .event-content {
  width: 50%;
  left: 25%;
  background: white;
  position: relative;
  z-index: 50;
  padding-bottom: 3px;
  box-sizing: content-box;
}

.match-info .timeline .timeline-event .event-badge {
  height: 20px;
  width: 20px;
  background: blue;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 10px);
  padding-top: 1px;
  color: white;
  text-align: center;
  font-size: 10px;

}

.match-info .timeline .timeline-event .event-content {
  border: 1px solid black;
  width: 40%;
  height: 20px;
  position: absolute;
  text-align: center;
}

.match-info .timeline .timeline-event.home .event-content {
  background: red;
}

.match-info .timeline .timeline-event.away .event-content {
  background: green;
  left: calc(50% + 10%)
}