/* Imported Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Montserrat', sans-serif; */
body {
  font-family: 'montserrat', sans-serif;
}

/* TEAM LADDER CSS*/

.container {
  width: 100%;
  max-width: initial;
}

.container .row {
  margin: 0;
}

.container .row .col {
  padding: 0;
}

.standings tr {
  height: 25px;
}

.ladder tr td,
.ladder tr th {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}

.ladder tr th {
  text-align: center;
}

.standings tr td img {
  height: auto;
  max-height: 25px;
  max-width: 30px;
  text-align: center;
  margin: auto;
}


.ladder tr td:nth-child(1),
.ladder tr td:nth-child(4),
.ladder tr th:nth-child(1),
.ladder tr th:nth-child(4) {
  text-align: left;
}

table.collapse td,
table.collapse th {
  display: none;
}

table td:nth-child(3) {
  display: none;
}

.buttonExpanded.hidden {
  display: none;
}

.toggleCollapse {
  position: absolute;
  top: 0;
  right: 0;
}

.ladder-toggle {
  padding-top: 20px
}

table.collapse td:nth-child(2),
table.collapse td:nth-child(3),
table.collapse th:nth-child(2) {
  display: table-cell;
}

.ladder {
  border-right: 2px solid black;
}

tr {
  border-bottom: none;
}

/* Fixtures */

.fixtures {
  height: 100vh;
  border-right: 2px solid black;
}

.fixtures li {
  height: 40px;
}

/* MATCH INFO CSS*/
.match-info {
  /* display: none; */
}

.period {
  display: none;
}

.match-info .row {
  /* height: 500px; for testing purposes */
}

.match-info .row .col {
  /* height: 500px; for testing purposes */
  border: 1px solid black;
  /* for testing purposes */
  position: relative;
}

.match-info .row .col .row {
  height: auto;
}

.match-info .row .col .row .col {
  height: auto;
  border: none;
}

.match-info .timeline .timeline-splitter {
  height: 100%;
  background: #333;
  width: 6px;
  left: calc(50% - 3px);
  position: absolute;
  border: 0;


}

.match-info .timeline {
  height: 100vh;
}

.match-info .timeline .period-events {
  position: relative;
}

.match-info .timeline .timeline-event {
  margin-top: 10px;
  position: relative;
  height: 20px;
  width: 100%;

}

.match-info .timeline .timeline-event.major-event .event-content {
  width: 50%;
  left: 25%;
  background: white;
  position: relative;
  z-index: 50;
  padding-bottom: 3px;
  box-sizing: content-box;
}

.match-info .timeline .timeline-event .event-badge {
  height: 20px;
  width: 20px;
  background: blue;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 10px);
  padding-top: 1px;
  color: white;
  text-align: center;
  font-size: 10px;

}

.match-info .timeline .timeline-event .event-content {
  border: 1px solid black;
  width: 40%;
  height: 20px;
  position: absolute;
  text-align: center;
}

.match-info .timeline .timeline-event.home .event-content {
  background: red;
}

.match-info .timeline .timeline-event.away .event-content {
  background: green;
  left: calc(50% + 10%)
}

.btn-small .period-selector {
  margin-left: 5px;
  margin-right: 5px;
  width: 40px;
  text-align: center;
  padding;
  0 0;
}

.timeline .row .s3 {
  padding: 5px;
}

.active {
  color: #ff2ef0;
}

/* Match Results */

.homeTeam, .awayTeam {
  text-align: center;
}

.homeDisplayScore, .awayDisplayScore {
  text-align: center;
}

.homeTeam img, .awayTeam img {
  height: auto;
  max-height: 40px;
  max-width: 40px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.homeStats tr, .homeStats tr td, .awayStats tr, .awayStats tr td {
  height: 20px !important;
    max-height: 20px !important;
  padding: 0;
}

.row .venue, .venueDetails {
  border: 1px solid black;
}

/* Vs Stats */

.vsStats table {
  height: 220px;
}

.vsStats tr, .vsStats tr td {
  height: 20px !important;
    max-height: 20px !important;
  padding: 0;
  
}
.vsStats tr td {
  border: 3px solid white;
  border-radius: 6px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.amber {
  background-color: #FFBF00;
}

/* homeBehinds
awayBehinds
homeDisplosals
awayDisplosals
homeFreeKicks
awayFreeKicks
homeGoals
awayGoals
homeHandballs
awayHandballs
homeHitouts
awayHitouts
homeKicks
awayKicks
homeMarks
awayMarks
homeMarksInside
awayMarksInside
homeTackles
awayTackles */